@font-face{
    font-family: "rubik";
    src: url("ressources/font/Rubik-VariableFont_wght.ttf") format("ttf");
}

html{
    scroll-behavior: smooth;
}

body {
    background: #fedb63;
    /* background: linear-gradient(180deg, rgba(254,219,99,1) 0%, rgba(254,219,99,1) 98%, rgba(41,34,32,1) 100%); */
    font-family: "rubik", Arial, Helvetica, sans-serif;
    margin: 0%;
}

#card{
    width: 100%;
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
}

#more{
    width: 100%;
    display: flex;
    height: auto;
    min-height: 90vh;
    max-height: fit-content;
    flex-direction: column;
    align-items: center;
}

#more h2, h1{
    padding-top: 3% !important;
    text-align: center;
}

#header nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 5px black;
}

#header nav{
    background-color: #f28d4a;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 5%;
}

#header nav ul{
    padding: 0px;
    margin: 0px;
    display:inline-block;
}

#header nav li{
    list-style-type: none;
    display: table;
    float: left;
    height: 100%;
}

#header nav a{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    font-weight: bold;
    color: #fedb63;
    text-shadow: 0px 0px 2px black;
    transition: 0.25s;
}



#header nav a:hover{
    transform: scale(1.1);
    transition: 0.25s;
}

.biglogo{
    box-shadow: 10px 10px 10px black;
    margin-top: 2%;
    margin-bottom: 3%;
    height: 55%;
}

.smalllogo{
    margin: 5px;
    box-shadow: 0px 0px 5px black;
}

.biglogo, .smalllogo{
    border-radius: 25%;
}

.active{
    color: white !important;
}

h1{
    padding: 0px 8px;
}

#footer{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    background-color: #f28d4a;
}

#footer a{
    color: white;
    text-decoration: none;
}

.morebutton{
    position: absolute;
    bottom: 3%;
}

.up{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: black !important;
}

.button{
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #f28d4a;
    border-radius: 25px;
    padding: 5px;
    font-family: "rubik", Arial, Helvetica, sans-serif;
    transition: 0.25s;
}

.button:hover{
    transform: scale(1.1);
    transition: 0.25s;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.searchbar{
    width: 30em;
    height: 3em;
}

.searchbutton{
    margin-top: 5%;
    width: 10em;
    height: 2em;
}

.filtres fieldset{
    text-align: center;
    border-radius: 25px;
    border: thin solid;
}

.results{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
    text-align: center;
    border: thin solid;
    border-radius: 25px;
}
.results fieldset{
    border-radius: 25px;
    border: thin solid;
    height: auto;
}

.scroll{
    width: 95vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 1%;
}

.scroll a{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 350px;
    border: black solid thin;
    vertical-align: middle;
    transition: 0.25s;
}

.scroll a:hover{
    transform: scale(1.1);
    border: none;
    background-color: #f28d4a;
    transition: 0.25s;
}

.scroll h3{
    white-space: initial;
    height: 44px;
}

.scroll::-webkit-scrollbar {
    height: 1vh;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #f28d4a;
    border-radius: 25px;
}

.thumbnail{
    width: 150px;
    height: 225px;
}

.thumbnailtop{
    width: 80%;
    height: 80%;
}

.poster{
    height: 40%;
}

.ranking{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ranking fieldset{
    border-radius: 25px;
    border: thin solid;
    width: 30%;
    text-align: center;
}

.top {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top fieldset{
    padding: 0;
    width: 100%;
    height: 100%;
}

.top a{
    width: 45%;
    height: 95%;
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

.top a:hover{
    transform: scale(1.05);
    transition: 0.25s;
}

.top a p{
    margin: 0;
    height: 10%;
}