@import url("light.css") all;

#more{
    background: #3b3a38;
}

h1{
    color: #FDDC49;
    text-shadow: 2px 2px 2px black;
}

h2, h3{
    color: #FDDC49;
}

#header nav{
    background-color: #FDDC49;
}

#footer{
    background-color: #FDDC49;
}

.button{
    background: #FDDC49;
}

.accueil p{
    color: white;
}

#more .accueil p{
    color: white;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #FDDC49;
}

.ranking legend{
    color: white;
}