@font-face{
    font-family: "rubik";
    src: url("ressources/font/Rubik-VariableFont_wght.ttf") format("ttf");
}

body {
    background: #fedb63;
    background: linear-gradient(180deg, rgba(254,219,99,1) 0%, rgba(254,219,99,1) 98%, rgba(41,34,32,1) 100%);
    font-family: "rubik", Arial, Helvetica, sans-serif;
    margin: 0%;
}

#card, #more{
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

#more{
    height: 95vh;
}

#more h2, h1{
    padding-top: 3% !important;
    text-align: center;
}

#header nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 5px black;
}

#header nav{
    background-color: #f28d4a;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 5%;
}

#header nav ul{
    padding: 0px;
    margin: 0px;
    display:inline-block;
}

#header nav li{
    list-style-type: none;
    display: table;
    float: left;
    height: 100%;
}

#header nav a{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    font-weight: bold;
    color: #fedb63;
    text-shadow: 0px 0px 2px black;
}



#header nav a:hover, button:hover{
    transform: scale(1.1);
}

.biglogo{
    box-shadow: 10px 10px 10px black;
    margin-top: 2%;
    margin-bottom: 3%;
}

.smalllogo{
    margin: 5px;
    box-shadow: 0px 0px 5px black;
}

.biglogo, .smalllogo{
    border-radius: 25%;
}

.active{
    color: white !important;
}

h1{
    padding: 0px 8px;
}

#footer{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

#footer a{
    color: white;
    text-decoration: none;
}

.morebutton{
    position: absolute;
    bottom: 3%;
}

.up{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: black;
}

button{
    background-color: transparent;
    border: 1px solid #f28d4a;
    border-radius: 25px;
    height: 2em;
    outline: none;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.searchbar{
    width: 30em;
    height: 3em;
}

.searchbutton{
    margin-top: 5%;
    width: 10em;
    height: 2em;
}

.filtres fieldset{
    text-align: center;
    border-radius: 25px;
    border: thin solid;
}

.results{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
    text-align: center;
    border: thin solid;
    border-radius: 25px;
}
.results fieldset{
    border-radius: 25px;
    border: thin solid;
    height: auto;
}

.backbutton{
    position: fixed;
    top: 5%;
    left: 5%;
}

.scroll{
    width: 95vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll a{
    display: inline-block;
    text-decoration: none;
    color: black;
}